/*https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjX9oPqn77WAhXLhVQKHUE4AdEQjRwIBw&url=http%3A%2F%2Fnintendo.wikia.com%2Fwiki%2FFile%3ASuper_Mario_Kart_(Title_Screen).png&psig=AFQjCNGbmXd7iLx4n7GbNzr7YRMedZ3Sbw&ust=1506356530942038
Copying this lading page ^^^*/


.backgroundImage{
	width: 100%;
}

h1{
	position: absolute;
}

button{
	position: absolute;
}

footer{
	position: absolute;
}