
@media (min-device-width: 768px) and (max-device-width: 1024px) {
/*---------Ipad------------*/

	}
	/*changed the bac kgroun dimage height to refect the size of the ipad and cover the background*/
	.background{ 
		background-image: url('https://tcrf.net/images/3/36/Smk_title_bg_jp.png');
		height: 1300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/*changed the top margin to move the div to the background grass area*/
	.mario{
		background-image: url('http://www.free-icons-download.net/images/super-mario-icons-34514.png');
		background-position: center;
		position: relative;
		margin: 600px 20px 20px 20px;
		padding: 120px;
		display: inline-block;
		float: left;
	}
	/* also moved div to background grass area under mario*/
	.luigi{
		background-image: url('https://www.spriters-resource.com/resources/sheet_icons/51/53665.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin: 20px;
		padding: 120px;
		display: inline-block;
		float: left;
		clear: both;

	}
}

@media (min-device-width: 1025px){
/*---------Computer---------*/
	body, html {
		height: 100%;

	}
	.background{
		background-image: url('https://tcrf.net/images/3/36/Smk_title_bg_jp.png');
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mario{
		background-image: url('http://www.free-icons-download.net/images/super-mario-icons-34514.png');
		background-position: center;
		position: relative;
		margin: 300px 20px 20px 20px;
		padding: 120px;
		display: inline-block;
		float: left;
	}

	.luigi{
		background-image: url('https://www.spriters-resource.com/resources/sheet_icons/51/53665.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin: 20px;
		padding: 120px;
		display: inline-block;
		float: left;
		clear: both;

	}
}